<% if is_logged_in?(session) %>
  <form action='/employees/<%= @employee.id %>' method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
    <h2>Edit Your Employee:</h2>
    <label name="name" style="font-weight: bold;">Name: </label>
    <input type="text" name="name" value="<%= @employee.name %>"><br><br>
    <label name="wage" style="font-weight: bold;">Wage: </label>
    <input type="text" name="wage" value="<%= @employee.wage %>"><br><br>
    <label name="hours" style="font-weight: bold;">Hours: </label>
    <input type="text" name="hours" value="<%= @employee.hours %>"><br><br>

    <button type="submit" value="submit" id="Edit Employee">Submit Edit</button>

   </form>

  <% else %>
      <h1> You Must Be Logged in to Make Changes </h1>
      <%= redirect "/login" %>
  <% end %>
