<h1>Welcome, <%= @user.username %></h1><br>
<h3>Here are the list of your employees:</h3>
<ol>
<% @employees.each do |emp| %>
  <li>
    <h4>Employee Name: <p style="display: inline; font-weight: normal;"><%= emp.name %></p></h4>
    <h4>Wage: <p style="display: inline; font-weight: normal;"><%= emp.wage %></p></h4>
    <h4>Hours: <p style="display: inline; font-weight: normal;"><%= emp.hours %></p></h4>

    <a class="button" href="/employees/<%= emp.id %>" style="padding-right: 25px">Check Employee</a>

  </li>
  <br>
<% end %>
</ol>

<a class="submit" href="/employees/new"><button>New Employee</button></a>

<a class="submit" href="/logout"><button>Log Out</button></a>
