<h1>Welcome, <%= @user.username %></h1>
<h3>Here are the list of your employees:</h3>
<ul>
<% @employees.each do |emp| %>
  <li>
    <%= emp.name %>
    <%= emp.wage %>
    <%= emp.hours%>
    <aclass="button" href="/employees/<%= emp.id %>" style="padding-right: 25px">See Employee</a>
  </li>
<% end %>
</ul>

<a class="submit" href="/employees/new"><button>New Employee</button></a>

<a class="submit" href="/logout"><button>Log Out</button></a>
